*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    color: #fff;
}
.main{
    height: 100%;
    width: 100%;
    background: #000;
}
h3{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
} 
#nav-right{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
h1{
    position: relative;
    z-index: 9;
    text-transform: uppercase;
    font-size: 8vw;
    line-height: .8;
    font-weight: 400;
    width: 70%;
    margin: 0 auto;
    /* display: none; */
}
h1:nth-child(2){
    margin-top: 12%;
}
h1:nth-child(3){
    text-align: center;
}
h1:nth-child(4){
    text-align: center;
}
img{
  position: absolute;
  top: 14%;
  left: 40%;
  height: 400px;
  width: 16%;
  height: 26vw;
  /* border: 2px solid red; */
  overflow: hidden;
  /* object-fit: contain; */
}
#img1{
 rotate: 20deg;
}
#img2{
 rotate: 10deg;;   
}